* 
  box-sizing: border-box
body 
  +reg
img 
  max-width: 100%
form 
  .error 
    border-color: $error
.container 
  max-width: 1170px
  margin: auto
.button
  border-radius: 10px
  background-color: $main-color
  border: none
  padding: 18px 30px
  +bold
  &:hover
    background-color: lighten($main-color,10%)
    cursor: pointer
.input  
  border: 1px solid $border-input
  padding: 22px 26px
  font-size: 15px
  border-radius: 10px 
  outline: none
.section
  padding-top: 66px
  padding-bottom: 90px
  &-title 
    max-width: 515px
    text-align: center
    font-size: 30px;
    +bold
    line-height: 1.5
  &-subtitle
    display: block
    font-size: 20px;
.arrows 
  &__left, &__right
    &:hover
      cursor: pointer

@media (max-width: 1200px)
  .container     
   padding: 0 21px
  .button 
    padding: 15px 26px
@media (max-width: 768px)
  .container 
    padding: 0 22px
    padding-right: 24px
  .button
    padding: 11px 56px
  .input  
    padding: 22px 21px
  .section
    padding: 26px 0
    &-title 
      font-size: 18px
      line-height: 1.2
    &-subtitle
      font-size: 14px
  .form 
    label 
      margin-bottom: 8px

label 
  display: block
  margin-bottom: 15px
  text-align: center
  color: $error