.hero
  padding: 50px 0
  background-color: $secondary
  &-block 
    display: flex
  &-text
    flex-basis: 53%
    padding-right: 140px    
    &__title
      +bold
      font-size: 41px      
      line-height: 55px
      margin-bottom: 40px
    &__subtitle
      display: inline-block
      margin-bottom: 70px
      +bold
      font-size: 20px

  &-list
    padding: 0
    margin: 0
    &__image
      display: flex
      justify-content: center
      align-items: center
      margin-right: 30px
      border-radius: 50%
      width: 40px
      height: 40px
      border: 2px solid #ffd200 
    &__item
      display: flex
      align-items: center
      margin-bottom: 24px
      &:last-child
        margin-bottom: 0
    &__text
      max-width: 275px
      line-height: 24px;
      font-size: 14px
@media (max-width: 1200px)
  .hero
    &-block
      flex-direction: column
      align-items: center
    &-text
      padding: 0
      &__title
        font-size: 30px
        line-height: 1.4
        margin-bottom: 30px
    &-list
      display: flex
      justify-content: space-between
      &__image
        margin-right: 20px
      &__item
        width: 33%
        align-items: flex-start
      &__text        
        max-width: 150px        
@media (max-width: 768px)
  .hero
    padding-top: 38px
    &-block 
      flex-direction: column
    &-text
      &__title
        font-size: 24px
        line-height: 1.4
        margin-bottom: 4px
      &__subtitle
        font-size: 16px
        margin-bottom: 28px
    &-list 
      display: block
      margin-bottom: 44px
      &__item
        margin-bottom: 20px
        min-width: 100%
        // align-items: center
      &__text
        font-size: 12px
        max-width: 200px
        line-height: 1
      &__image
        margin-right: 15px